*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.7;
  min-height: 100vh;
}

#section__hero {
  height: 100%;
  background: url("/3672428.jpg") no-repeat center center/cover;
  
  display: grid;
  place-content: center;
}

.btn {
  display: inline-block;
  font-size: 15px;
  color: #000;
  text-decoration: none;
  text-transform: capitalize;
  padding: 10px 30px;
  border-radius: 5px;
  letter-spacing: 1px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2),
              0 -10px 20px rgba(0, 0, 0, 0.2);
}

.btn--white {
  background-color: #fff;
}

.btn--green {
  background-color: #55c57a;
  color: #fff;
}

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;

  opacity: 0;
  visibility: hidden;

  backdrop-filter: blur(12px);

  transition: all 0.3s;
}

.popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  background-color: #fff;
  border-radius: 3px;

  opacity: 0;
  transform: translate(-50%, -50%) scale(0.25);

  transition: all 0.5s 0.2s;
}

.content {
  padding: 30px 50px;
}

h2 {
  font-size: 20px;
  text-transform: uppercase;
  color: #55c57a;
  text-align: center;
  letter-spacing: 1.5px;
}

h3 {
  font-size: 15px;
  margin-bottom: 40px;
  text-align: center;
}

.popup__text {
  font-size: 15px;
  column-count: 3;
  column-gap: 40px;
  column-rule: 1px solid #b6b6b6;
  hyphens: auto;
  margin-bottom: 40px;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup:target .popup__content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.popup__close {
  color: #777;
  position: absolute;
  top: 30px;
  right: 50px;
  font-size: 30px;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s;
  line-height: 1;
}

.popup__close:hover {
  color: #55c57a;
}
